Source: vyatta-anyfi-gateway
Section: contrib/net
Priority: extra
Maintainer: Anyfi Networks <eng@anyfinetworks.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 5), autotools-dev, autoconf

Package: vyatta-anyfi-gateway
Architecture: all
Depends: vyatta-cfg-system,
 vyatta-cfg,
 vyatta-op,
 vyatta-anyfi-common (>= 1.1.1),
 anyfi-radius-dynauth (>= 1.0.0),
 anyfi-gateway (>= 1.9.0),
 ${misc:Depends}
Replaces: vyatta-anyfi-gateway
Description: Vyatta integration for Anyfi Gateway
 Vyatta integration for Anyfi Gateway, a Software-Defined
 Wireless Networking (SDWN) gateway for carrier Wi-Fi.
